# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firebase logs
ui-debug.log
firebase-debug.log

# Compiled shared resources
dist/
